<footer class="container-fluid bh-absolute-bottom">
    <div class="col-12">
    <div class="row rij-1-footer ">
        
        <div class="col"></div>
        
       <div class="col-8">
           
             <p class="footer-text text-center">
                 © Copyright | vzw Andromeda | All rights reserved </p>
         <p class="footer-text text-center">   
             In samenwerking met Robin Janssens en Artveldehogeschool.</p>
          <p class="footer-text text-center">
             Academiejaar 2017-2018     
            </p>
            
        </div>
        
            <div class="col"></div>
       
             
    </div> 
         
   </div>    
        
        <div class="row rij-1-footer">
             <div class="col"></div>
           
          
                <div class="col-10 text-center">
                    <img src="{{ site.baseurl }}/images/arteveldelogowit.png"  class="w-25" alt="artevelde">
                    <img src="{{ site.baseurl }}/images/andromeda_logowit.png"  class="w-25" alt="andromeda">
              </div>
            
            <div class="col"></div>
            
             </div>
        
        
</footer>

<button onclick="topFunction()" id="to-top" ><i class="fas fa-angle-up"></i></button>